* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

nav {
    background-color: crimson;
}

.menu {
    display: flex;
    color: white;
}

.menu a {
    color: inherit;
    text-decoration: none;
    padding: 12px;
}
